@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
	--background: #0f0f0f;
	--foreground: #ffffff;
	--primary: #1f76e9;
	--primary-foreground: #000000;
	--secondary: #e64641;
	--secondary-foreground: #000000;
}
